attr==0.3.2
beautifulsoup4==4.12.3
ConfigParser==7.1.0
contextlib2==21.6.0
cryptography==43.0.1
Cython==3.0.11
dl==0.1.0
docutils==0.21.2
filelock==3.16.1
Flask==3.0.3
html2text==2024.2.26
HTMLParser==0.0.2
HTMLParser==0.0.2
ipython==8.12.3
ipywidgets==8.1.5
Jinja2==3.1.4
keyring==25.4.1
langchain==0.3.2
Markdown==3.7
mock==5.1.0
numpy==2.1.2
pandas==2.2.3
Pillow==10.4.0
protobuf==5.28.2
pyOpenSSL==24.2.1
pyOpenSSL==24.2.1
pywin32==307
railroad==0.5.0
redis==5.1.1
scikit_learn==1.5.2
Sphinx==8.0.2
thread==2.0.5
torch==2.4.1
tornado==6.4.1
transformers==4.45.1
trove_classifiers==2024.9.12
urllib3_secure_extra==0.1.0
sentencepiece==0.2.0